<div class="modal-header border-0">
    <div>
        <h1 class="modal-title fs-4 mb-1" id="modalLabel">
            {{ data ? 'Editar categoria' : 'Adicionar categoria'}}
        </h1>
    </div>
    <button type="button" class="btn-close align-self-start pt-3 shadow-none " title="Fechar" data-bs-dismiss="modal"
        aria-label="Close" (click)="dismiss()"></button>
</div>
<div class="modal-body">
    <form [formGroup]="form" (submit)="onSubmit()" class="">
        <div class="row">
            <div class="col-lg-12 mb-3 px-2">
                <div class="form-group">
                    <label class="small fw-medium mb-1" for="nome">Nome</label>
                    <input class="form-control text-body" type="text" formControlName="nome"
                        [ngClass]="formService.class(form.controls['nome'], 'is-invalid')" />
                </div>
            </div>
           
        </div>
        <div class="row">
            <div class="col-lg-6 mt-3 px-2">
                <button type="button" class="btn btn-outline-primary w-100" (click)="dismiss()">Fechar</button>
            </div>
            <div class="col-lg-6 mt-3 px-2">
                <button type="submit" class="btn btn-primary w-100">{{ data ? 'Salvar alterações' : 'Salvar'
                    }}</button>
            </div>
        </div>
    </form>
</div>